<!-- templates/forum/topic-replies-component/content.html -->
{% load static %}

<div class="main--content col-md-8 pb--60" data-trigger="stickyScroll">
   <div class="main--content-inner drop--shadow">
       <!-- Forum Header Start -->
       <div class="forum--header pb--50">
           <div class="forum--subtitle ff--primary fs--14 text-darker">
               <p>Viewing 5 topics - 1 through 5 (of 5 total)</p>
           </div>
       </div>
       <!-- Forum Header End -->

       <!-- Topic Replies Start -->
       <div class="topic--replies">
           <ul class="nav">
               <li>
                   <!-- Topic Reply Start -->
                   <div class="topic--reply">
                       <div class="header clearfix">
                           <p class="date float--left">19th January 2017 at 9:20 pm</p>
                           <p class="link float--right"><a href="topic-replies.html#575">#575</a></p>
                       </div>

                       <div class="body clearfix">
                           <div class="author mr--20 float--left text-center">
                               <div class="avatar" data-overlay="0.3" data-overlay-color="primary">
                                   <a href="member-activity-personal.html">
                                       <img src="{% static 'assets/img/topics-img/avatar-01.jpg' %}" alt="">
                                   </a>
                               </div>

                               <div class="name text-darkest">
                                   <p><a href="member-activity-personal.html">Eileen K. Ruiz</a></p>
                               </div>

                               <div class="role text-uppercase">
                                   <p class="text-white bg-primary">Keymaster</p>
                               </div>
                           </div>

                           <div class="content pt--20 fs--14 ov--h">
                               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.</p>
                           </div>
                       </div>
                   </div>
                   <!-- Topic Reply End -->
               </li>
               <li>
                   <!-- Topic Reply Start -->
                   <div class="topic--reply">
                       <div class="header clearfix">
                           <p class="date float--left">12th April 2017 at 12:10 pm</p>
                           <p class="link float--right"><a href="topic-replies.html#579">#579</a></p>
                       </div>

                       <div class="body clearfix">
                           <div class="author mr--20 float--left text-center">
                               <div class="avatar" data-overlay="0.3" data-overlay-color="primary">
                                   <a href="member-activity-personal.html">
                                       <img src="{% static 'assets/img/topics-img/avatar-02.jpg' %}" alt="">
                                   </a>
                               </div>

                               <div class="name text-darkest">
                                   <p><a href="member-activity-personal.html">David J. Kleiner</a></p>
                               </div>

                               <div class="role text-uppercase">
                                   <p class="text-white bg-primary">Keymaster</p>
                               </div>
                           </div>

                           <div class="content pt--20 fs--14 ov--h">
                               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                           </div>
                       </div>
                   </div>
                   <!-- Topic Reply End -->
               </li>
               <li>
                   <!-- Topic Reply Start -->
                   <div class="topic--reply">
                       <div class="header clearfix">
                           <p class="date float--left">3rd June 2017 at 5:30 pm</p>
                           <p class="link float--right"><a href="topic-replies.html#585">#585</a></p>
                       </div>

                       <div class="body clearfix">
                           <div class="author mr--20 float--left text-center">
                               <div class="avatar" data-overlay="0.3" data-overlay-color="primary">
                                   <a href="member-activity-personal.html">
                                       <img src="{% static 'assets/img/topics-img/avatar-03.jpg' %}" alt="">
                                   </a>
                               </div>

                               <div class="name text-darkest">
                                   <p><a href="member-activity-personal.html">Janice Day</a></p>
                               </div>

                               <div class="role text-uppercase">
                                   <p class="text-white bg-primary">Keymaster</p>
                               </div>
                           </div>

                           <div class="content pt--20 fs--14 ov--h">
                               <p>Hi how are you?</p>

                               <p>It look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text.</p>
                           </div>
                       </div>
                   </div>
                   <!-- Topic Reply End -->
               </li>
               <li>
                   <!-- Topic Reply Start -->
                   <div class="topic--reply">
                       <div class="header clearfix">
                           <p class="date float--left">3rd June 2017 at 5:30 pm</p>
                           <p class="link float--right"><a href="topic-replies.html#585">#585</a></p>
                       </div>

                       <div class="body clearfix">
                           <div class="author mr--20 float--left text-center">
                               <div class="avatar" data-overlay="0.3" data-overlay-color="primary">
                                   <a href="member-activity-personal.html">
                                       <img src="{% static 'assets/img/topics-img/avatar-04.jpg' %}" alt="">
                                   </a>
                               </div>

                               <div class="name text-darkest">
                                   <p><a href="member-activity-personal.html">Michael Oliver</a></p>
                               </div>

                               <div class="role text-uppercase">
                                   <p class="text-white bg-primary">Keymaster</p>
                               </div>
                           </div>

                           <div class="content pt--20 fs--14 ov--h">
                               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero laboriosam cumque illum quis, eius deserunt saepe nostrum quidem soluta quisquam dolorem consectetur delectus voluptatum. Vel magni atque eligendi nulla accusamus.</p>
                           </div>
                       </div>
                   </div>
                   <!-- Topic Reply End -->
               </li>
               <li>
                   <!-- Topic Reply Start -->
                   <div class="topic--reply">
                       <div class="header clearfix">
                           <p class="date float--left">3rd June 2017 at 5:30 pm</p>
                           <p class="link float--right"><a href="topic-replies.html#585">#585</a></p>
                       </div>

                       <div class="body clearfix">
                           <div class="author mr--20 float--left text-center">
                               <div class="avatar" data-overlay="0.3" data-overlay-color="primary">
                                   <a href="member-activity-personal.html">
                                       <img src="{% static 'assets/img/topics-img/avatar-05.jpg' %}" alt="">
                                   </a>
                               </div>

                               <div class="name text-darkest">
                                   <p><a href="member-activity-personal.html">Doris Mendez</a></p>
                               </div>

                               <div class="role text-uppercase">
                                   <p class="text-white bg-primary">Keymaster</p>
                               </div>
                           </div>

                           <div class="content pt--20 fs--14 ov--h">
                               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero laboriosam cumque illum quis, eius deserunt saepe nostrum quidem soluta quisquam dolorem consectetur delectus voluptatum. Vel magni atque eligendi nulla accusamus.</p>
                           </div>
                       </div>
                   </div>
                   <!-- Topic Reply End -->
               </li>
           </ul>
       </div>
       <!-- Topic Replies End -->

       <!-- Forum Header Start -->
       <div class="forum--header pt--50">
           <div class="forum--subtitle ff--primary fs--14 text-darker">
               <p>Viewing 5 topics - 1 through 5 (of 5 total)</p>
           </div>
       </div>
       <!-- Forum Header End -->
   </div>

   <div class="alert mt--30">
       <div class="alert--inner ff--primary text-white bg-primary">
           <p>You must be logged in to create new topics.</p>
       </div>
   </div>
</div>