{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Banner Section Start -->
<section class="banner--section">
    <!-- Banner Slider Start -->
    {% include './component/slider.html' %}
    <!-- Banner Slider End -->
</section>
<!-- Banner Section End -->

<!-- Features Section Start -->
<section class="section bg-lighter pt--80 pb--40">
    <div class="container">
        <div class="row AdjustRow">
            <div class="col-md-3 col-xs-6 col-xxs-12 pb--40">
                <!-- Feature Item Start -->
                <div class="feature--item bg-default text-center">
                    <div class="title">
                        <h2 class="h1 ff--default text-primary"><span data-trigger="counterup">530</span>k+</h2>
                    </div>

                    <div class="sub-title">
                        <h3 class="h2 fs--16">Stories / Topics Created</h3>
                    </div>

                    <div class="desc">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
                <!-- Feature Item End -->
            </div>

            <div class="col-md-3 col-xs-6 col-xxs-12 pb--40">
                <!-- Feature Item Start -->
                <div class="feature--item bg-default text-center">
                    <div class="title">
                        <h2 class="h1 ff--default text-primary"><span data-trigger="counterup">30</span>k+</h2>
                    </div>

                    <div class="sub-title">
                        <h3 class="h2 fs--16">Member Online Right Now</h3>
                    </div>

                    <div class="desc">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
                <!-- Feature Item End -->
            </div>

            <div class="col-md-3 col-xs-6 col-xxs-12 pb--40">
                <!-- Feature Item Start -->
                <div class="feature--item bg-default text-center">
                    <div class="title">
                        <h2 class="h1 ff--default text-primary"><span data-trigger="counterup">1.5</span>k+</h2>
                    </div>

                    <div class="sub-title">
                        <h3 class="h2 fs--16">Active Group / Meeting Room</h3>
                    </div>

                    <div class="desc">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
                <!-- Feature Item End -->
            </div>

            <div class="col-md-3 col-xs-6 col-xxs-12 pb--40">
                <!-- Feature Item Start -->
                <div class="feature--item bg-default text-center">
                    <div class="title">
                        <h2 class="h1 ff--default text-primary"><span data-trigger="counterup">03</span>k+</h2>
                    </div>

                    <div class="sub-title">
                        <h3 class="h2 fs--16">New Event In Every Week</h3>
                    </div>

                    <div class="desc">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
                <!-- Feature Item End -->
            </div>
        </div>
    </div>
</section>
<!-- Features Section End -->

<!-- How It Works Section Start -->
<section class="section pt--70 pb--40">
    {% include './component/how_it_works.html' %}
</section>
<!-- How It Works Section End -->

<!-- Most Popular Groups Section Start -->
<section class="section bg-lighter pt--70 pb--70">
    {% include './component/most_popular_groups.html' %}
</section>
<!-- Most Popular Groups Section End -->

<!-- Members and Testimonial Section Start -->
<section class="section pt--70 pb--20">
    <div class="container">
        <div class="row">
            <!-- Most Popular Members Start -->
            {% include './component/most_popular_members.html' %}
            <!-- Most Popular Members End -->

            <!-- Sweet Moment Start -->
            {% include './component/sweet_moment.html' %}
            <!-- Sweet Moment End -->
        </div>
    </div>
</section>
<!-- Members and Testimonial Section End -->

<!-- Why Choose Us Section Start -->
<section class="section bg-lighter pt--80 pb--20">
    <div class="container">
        <div class="row row--md-vc">
            <div class="col-md-6 pb--50">
                <!-- Text Block Start -->
                <div class="text--block pb--10">
                    <div class="title">
                        <h2 class="h2 fw--600">Why Choose Us?</h2>
                    </div>

                    <div class="content fs--14">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. make a type specimen book.</p>
                    </div>
                </div>
                <!-- Text Block End -->

                <div class="row AdjustRow">
                    <div class="col-xs-6 col-xxs-12 pb--10">
                        <!-- Feature Block Start -->
                        <div class="feature--block mb--6 clearfix">
                            <div class="icon fs--18 text-primary mr--20 float--left">
                                <i class="fa fa-comments-o"></i>
                            </div>

                            <div class="info ov--h">
                                <div class="title">
                                    <h2 class="h6 fw--700">Individual Live Chat</h2>
                                </div>

                                <div class="desc mt--8">
                                    <p>Ipsum is simply dummy text of the printing industry.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Feature Block End -->
                    </div>
                    
                    <div class="col-xs-6 col-xxs-12 pb--10">
                        <!-- Feature Block Start -->
                        <div class="feature--block mb--6 clearfix">
                            <div class="icon fs--18 text-primary mr--20 float--left">
                                <i class="fa fa-wrench"></i>
                            </div>

                            <div class="info ov--h">
                                <div class="title">
                                    <h2 class="h6 fw--700">User Friendly Settings</h2>
                                </div>

                                <div class="desc mt--8">
                                    <p>Ipsum is simply dummy text of the printing industry.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Feature Block End -->
                    </div>
                    
                    <div class="col-xs-6 col-xxs-12 pb--10">
                        <!-- Feature Block Start -->
                        <div class="feature--block mb--6 clearfix">
                            <div class="icon fs--18 text-primary mr--20 float--left">
                                <i class="fa fa-group"></i>
                            </div>

                            <div class="info ov--h">
                                <div class="title">
                                    <h2 class="h6 fw--700">Discover Amazing People</h2>
                                </div>

                                <div class="desc mt--8">
                                    <p>Ipsum is simply dummy text of the printing industry.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Feature Block End -->
                    </div>

                    <div class="col-xs-6 col-xxs-12 pb--10">
                        <!-- Feature Block Start -->
                        <div class="feature--block mb--6 clearfix">
                            <div class="icon fs--18 text-primary mr--20 float--left">
                                <i class="fa fa-clock-o"></i>
                            </div>

                            <div class="info ov--h">
                                <div class="title">
                                    <h2 class="h6 fw--700">Times Fly With Us</h2>
                                </div>

                                <div class="desc mt--8">
                                    <p>Ipsum is simply dummy text of the printing industry.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Feature Block End -->
                    </div>
                </div>
            </div>

            <div class="col-md-6 pb--60">
                <!-- Video Popup Start -->
                <div class="video--popup style--1" data-overlay="0.3">
                    <img src="{% static 'assets/img/why-choose-us-img/diaspora-indonesia.jpg' %}" alt="">

                    <a href="https://www.youtube.com/watch?v=TTC1MKk9iBI" class="btn-link" data-trigger="video_popup">
                        <span><i class="fa fa-play"></i></span>
                    </a>
                </div>
                <!-- Video Popup End -->
            </div>
        </div>
    </div>
</section>
<!-- Why Choose Us Section End -->

<!-- FAQ AND PERWAKILAN RI Section Start -->
<section class="section pt--70 pb--20">
    <div class="container">
        <div class="row">
            
            <!-- FAQ Start -->
            {% include './component/faq.html' %}
             <!-- FAQ End -->

            <!-- PERWAKILAN RI & TESTIMONI Start -->
            {% include './component/perwakilan-ri.html' %}
            <!-- PERWAKILAN RI & TESTIMONI End -->
        </div>
    </div>
</section>
<!-- FAQ AND PERWAKILAN RI Section End -->
{% endblock content %}
