<!-- templates/member/component/content.html -->
{% load static %}


<div class="main--content col-md-8 pb--60" data-trigger="stickyScroll">
   <div class="main--content-inner">
       <!-- Filter Nav Start -->
       <div class="filter--nav pb--30 clearfix">
           <div class="filter--link float--left">
               <h2 class="h4">All Members : 30,000</h2>
           </div>

           <div class="filter--options float--right">
               <label>
                   <span class="fs--14 ff--primary fw--500 text-darker">Show By :</span>

                   <select name="membersfilter" class="form-control form-sm" data-trigger="selectmenu">
                       <option value="last-active" selected>Last Active</option>
                       <option value="new-registered">New Registerd</option>
                       <option value="alphabetical">Alphabetical</option>
                   </select>
               </label>
           </div>
       </div>
       <!-- Filter Nav End -->

       <!-- Member Items Start -->
       <div class="member--items">
           <div class="row gutter--15 AdjustRow">
               <div class="col-md-3 col-xs-6 col-xxs-12">
                   <!-- Member Item Start -->
                   <div class="member--item online">
                       <div class="img img-circle">
                           <a href="member-activity-personal.html" class="btn-link">
                               <img src="{% static 'assets/img/members-img/member-01.jpg' %}" alt="">
                           </a>
                       </div>

                       <div class="name">
                           <h3 class="h6 fs--12">
                               <a href="member-activity-personal.html" class="btn-link">Rosa R. Secor</a>
                           </h3>
                       </div>

                       <div class="activity">
                           <p><i class="fa mr--8 fa-clock-o"></i>Active 5 monts ago</p>
                       </div>

                       <div class="actions">
                           <ul class="nav">
                               <li>
                                   <a href="#" title="Send Message" class="btn-link" data-toggle="tooltip" data-placement="bottom">
                                       <i class="fa fa-envelope-o"></i>
                                   </a>
                               </li>
                               <li>
                                   <a href="#" title="Add Friend" class="btn-link" data-toggle="tooltip" data-placement="bottom">
                                       <i class="fa fa-user-plus"></i>
                                   </a>
                               </li>
                               <li>
                                   <a href="#" title="Media" class="btn-link" data-toggle="tooltip" data-placement="bottom">
                                       <i class="fa fa-folder-o"></i>
                                   </a>
                               </li>
                           </ul>
                       </div>
                   </div>
                   <!-- Member Item End -->
               </div>

               <div class="col-md-3 col-xs-6 col-xxs-12">
                   <!-- Member Item Start -->
                   <div class="member--item online">
                       <div class="img img-circle">
                           <a href="member-activity-personal.html" class="btn-link">
                               <img src="{% static 'assets/img/members-img/member-02.jpg' %}" alt="">
                           </a>
                       </div>

                       <div class="name">
                           <h3 class="h6 fs--12">
                               <a href="member-activity-personal.html" class="btn-link">Juan Bishop</a>
                           </h3>
                       </div>

                       <div class="activity">
                           <p><i class="fa mr--8 fa-clock-o"></i>Active 5 monts ago</p>
                       </div>

                       <div class="actions">
                           <ul class="nav">
                               <li>
                                   <a href="#" title="Send Message" class="btn-link" data-toggle="tooltip" data-placement="bottom">
                                       <i class="fa fa-envelope-o"></i>
                                   </a>
                               </li>
                               <li>
                                   <a href="#" title="Add Friend" class="btn-link" data-toggle="tooltip" data-placement="bottom">
                                       <i class="fa fa-user-plus"></i>
                                   </a>
                               </li>
                               <li>
                                   <a href="#" title="Media" class="btn-link" data-toggle="tooltip" data-placement="bottom">
                                       <i class="fa fa-folder-o"></i>
                                   </a>
                               </li>
                           </ul>
                       </div>
                   </div>
                   <!-- Member Item End -->
               </div>

               <div class="col-md-3 col-xs-6 col-xxs-12">
                   <!-- Member Item Start -->
                   <div class="member--item online">
                       <div class="img img-circle">
                           <a href="member-activity-personal.html" class="btn-link">
                               <img src="{% static 'assets/img/members-img/member-03.jpg' %}" alt="">
                           </a>
                       </div>

                       <div class="name">
                           <h3 class="h6 fs--12">
                               <a href="member-activity-personal.html" class="btn-link">Kelly Salazar</a>
                           </h3>
                       </div>

                       <div class="activity">
                           <p><i class="fa mr--8 fa-clock-o"></i>Active 5 monts ago</p>
                       </div>

                       <div class="actions">
                           <ul class="nav">
                               <li>
                                   <a href="#" title="Send Message" class="btn-link" data-toggle="tooltip" data-placement="bottom">
                                       <i class="fa fa-envelope-o"></i>
                                   </a>
                               </li>
                               <li>
                                   <a href="#" title="Add Friend" class="btn-link" data-toggle="tooltip" data-placement="bottom">
                                       <i class="fa fa-user-plus"></i>
                                   </a>
                               </li>
                               <li>
                                   <a href="#" title="Media" class="btn-link" data-toggle="tooltip" data-placement="bottom">
                                       <i class="fa fa-folder-o"></i>
                                   </a>
                               </li>
                           </ul>
                       </div>
                   </div>
                   <!-- Member Item End -->
               </div>

               <div class="col-md-3 col-xs-6 col-xxs-12">
                   <!-- Member Item Start -->
                   <div class="member--item online">
                       <div class="img img-circle">
                           <a href="member-activity-personal.html" class="btn-link">
                               <img src="{% static 'assets/img/members-img/member-04.jpg' %}" alt="">
                           </a>
                       </div>

                       <div class="name">
                           <h3 class="h6 fs--12">
                               <a href="member-activity-personal.html" class="btn-link">Gregory L. Caudill</a>
                           </h3>
                       </div>

                       <div class="activity">
                           <p><i class="fa mr--8 fa-clock-o"></i>Active 5 monts ago</p>
                       </div>

                       <div class="actions">
                           <ul class="nav">
                               <li>
                                   <a href="#" title="Send Message" class="btn-link" data-toggle="tooltip" data-placement="bottom">
                                       <i class="fa fa-envelope-o"></i>
                                   </a>
                               </li>
                               <li>
                                   <a href="#" title="Add Friend" class="btn-link" data-toggle="tooltip" data-placement="bottom">
                                       <i class="fa fa-user-plus"></i>
                                   </a>
                               </li>
                               <li>
                                   <a href="#" title="Media" class="btn-link" data-toggle="tooltip" data-placement="bottom">
                                       <i class="fa fa-folder-o"></i>
                                   </a>
                               </li>
                           </ul>
                       </div>
                   </div>
                   <!-- Member Item End -->
               </div>

               <div class="col-md-3 col-xs-6 col-xxs-12">
                   <!-- Member Item Start -->
                   <div class="member--item online">
                       <div class="img img-circle">
                           <a href="member-activity-personal.html" class="btn-link">
                               <img src="{% static 'assets/img/members-img/member-05.jpg' %}" alt="">
                           </a>
                       </div>

                       <div class="name">
                           <h3 class="h6 fs--12">
                               <a href="member-activity-personal.html" class="btn-link">William P. Waite</a>
                           </h3>
                       </div>

                       <div class="activity">
                           <p><i class="fa mr--8 fa-clock-o"></i>Active 5 monts ago</p>
                       </div>

                       <div class="actions">
                           <ul class="nav">
                               <li>
                                   <a href="#" title="Send Message" class="btn-link" data-toggle="tooltip" data-placement="bottom">
                                       <i class="fa fa-envelope-o"></i>
                                   </a>
                               </li>
                               <li>
                                   <a href="#" title="Add Friend" class="btn-link" data-toggle="tooltip" data-placement="bottom">
                                       <i class="fa fa-user-plus"></i>
                                   </a>
                               </li>
                               <li>
                                   <a href="#" title="Media" class="btn-link" data-toggle="tooltip" data-placement="bottom">
                                       <i class="fa fa-folder-o"></i>
                                   </a>
                               </li>
                           </ul>
                       </div>
                   </div>
                   <!-- Member Item End -->
               </div>

               <div class="col-md-3 col-xs-6 col-xxs-12">
                   <!-- Member Item Start -->
                   <div class="member--item online">
                       <div class="img img-circle">
                           <a href="member-activity-personal.html" class="btn-link">
                               <img src="{% static 'assets/img/members-img/member-06.jpg' %}" alt="">
                           </a>
                       </div>

                       <div class="name">
                           <h3 class="h6 fs--12">
                               <a href="member-activity-personal.html" class="btn-link">Eileen K. Ruiz</a>
                           </h3>
                       </div>

                       <div class="activity">
                           <p><i class="fa mr--8 fa-clock-o"></i>Active 5 monts ago</p>
                       </div>

                       <div class="actions">
                           <ul class="nav">
                               <li>
                                   <a href="#" title="Send Message" class="btn-link" data-toggle="tooltip" data-placement="bottom">
                                       <i class="fa fa-envelope-o"></i>
                                   </a>
                               </li>
                               <li>
                                   <a href="#" title="Add Friend" class="btn-link" data-toggle="tooltip" data-placement="bottom">
                                       <i class="fa fa-user-plus"></i>
                                   </a>
                               </li>
                               <li>
                                   <a href="#" title="Media" class="btn-link" data-toggle="tooltip" data-placement="bottom">
                                       <i class="fa fa-folder-o"></i>
                                   </a>
                               </li>
                           </ul>
                       </div>
                   </div>
                   <!-- Member Item End -->
               </div>

               <div class="col-md-3 col-xs-6 col-xxs-12">
                   <!-- Member Item Start -->
                   <div class="member--item online">
                       <div class="img img-circle">
                           <a href="member-activity-personal.html" class="btn-link">
                               <img src="{% static 'assets/img/members-img/member-07.jpg' %}" alt="">
                           </a>
                       </div>

                       <div class="name">
                           <h3 class="h6 fs--12">
                               <a href="member-activity-personal.html" class="btn-link">Byron H. Robinson</a>
                           </h3>
                       </div>

                       <div class="activity">
                           <p><i class="fa mr--8 fa-clock-o"></i>Active 5 monts ago</p>
                       </div>

                       <div class="actions">
                           <ul class="nav">
                               <li>
                                   <a href="#" title="Send Message" class="btn-link" data-toggle="tooltip" data-placement="bottom">
                                       <i class="fa fa-envelope-o"></i>
                                   </a>
                               </li>
                               <li>
                                   <a href="#" title="Add Friend" class="btn-link" data-toggle="tooltip" data-placement="bottom">
                                       <i class="fa fa-user-plus"></i>
                                   </a>
                               </li>
                               <li>
                                   <a href="#" title="Media" class="btn-link" data-toggle="tooltip" data-placement="bottom">
                                       <i class="fa fa-folder-o"></i>
                                   </a>
                               </li>
                           </ul>
                       </div>
                   </div>
                   <!-- Member Item End -->
               </div>

               <div class="col-md-3 col-xs-6 col-xxs-12">
                   <!-- Member Item Start -->
                   <div class="member--item online">
                       <div class="img img-circle">
                           <a href="member-activity-personal.html" class="btn-link">
                               <img src="{% static 'assets/img/members-img/member-08.jpg' %}" alt="">
                           </a>
                       </div>

                       <div class="name">
                           <h3 class="h6 fs--12">
                               <a href="member-activity-personal.html" class="btn-link">Kelly Brewer</a>
                           </h3>
                       </div>

                       <div class="activity">
                           <p><i class="fa mr--8 fa-clock-o"></i>Active 5 monts ago</p>
                       </div>

                       <div class="actions">
                           <ul class="nav">
                               <li>
                                   <a href="#" title="Send Message" class="btn-link" data-toggle="tooltip" data-placement="bottom">
                                       <i class="fa fa-envelope-o"></i>
                                   </a>
                               </li>
                               <li>
                                   <a href="#" title="Add Friend" class="btn-link" data-toggle="tooltip" data-placement="bottom">
                                       <i class="fa fa-user-plus"></i>
                                   </a>
                               </li>
                               <li>
                                   <a href="#" title="Media" class="btn-link" data-toggle="tooltip" data-placement="bottom">
                                       <i class="fa fa-folder-o"></i>
                                   </a>
                               </li>
                           </ul>
                       </div>
                   </div>
                   <!-- Member Item End -->
               </div>

               <div class="col-md-3 col-xs-6 col-xxs-12">
                   <!-- Member Item Start -->
                   <div class="member--item online">
                       <div class="img img-circle">
                           <a href="member-activity-personal.html" class="btn-link">
                               <img src="{% static 'assets/img/members-img/member-09.jpg' %}" alt="">
                           </a>
                       </div>

                       <div class="name">
                           <h3 class="h6 fs--12">
                               <a href="member-activity-personal.html" class="btn-link">Jessica James</a>
                           </h3>
                       </div>

                       <div class="activity">
                           <p><i class="fa mr--8 fa-clock-o"></i>Active 5 monts ago</p>
                       </div>

                       <div class="actions">
                           <ul class="nav">
                               <li>
                                   <a href="#" title="Send Message" class="btn-link" data-toggle="tooltip" data-placement="bottom">
                                       <i class="fa fa-envelope-o"></i>
                                   </a>
                               </li>
                               <li>
                                   <a href="#" title="Add Friend" class="btn-link" data-toggle="tooltip" data-placement="bottom">
                                       <i class="fa fa-user-plus"></i>
                                   </a>
                               </li>
                               <li>
                                   <a href="#" title="Media" class="btn-link" data-toggle="tooltip" data-placement="bottom">
                                       <i class="fa fa-folder-o"></i>
                                   </a>
                               </li>
                           </ul>
                       </div>
                   </div>
                   <!-- Member Item End -->
               </div>

               <div class="col-md-3 col-xs-6 col-xxs-12">
                   <!-- Member Item Start -->
                   <div class="member--item online">
                       <div class="img img-circle">
                           <a href="member-activity-personal.html" class="btn-link">
                               <img src="{% static 'assets/img/members-img/member-10.jpg' %}" alt="">
                           </a>
                       </div>

                       <div class="name">
                           <h3 class="h6 fs--12">
                               <a href="member-activity-personal.html" class="btn-link">Kelvin S. Williams</a>
                           </h3>
                       </div>

                       <div class="activity">
                           <p><i class="fa mr--8 fa-clock-o"></i>Active 5 monts ago</p>
                       </div>

                       <div class="actions">
                           <ul class="nav">
                               <li>
                                   <a href="#" title="Send Message" class="btn-link" data-toggle="tooltip" data-placement="bottom">
                                       <i class="fa fa-envelope-o"></i>
                                   </a>
                               </li>
                               <li>
                                   <a href="#" title="Add Friend" class="btn-link" data-toggle="tooltip" data-placement="bottom">
                                       <i class="fa fa-user-plus"></i>
                                   </a>
                               </li>
                               <li>
                                   <a href="#" title="Media" class="btn-link" data-toggle="tooltip" data-placement="bottom">
                                       <i class="fa fa-folder-o"></i>
                                   </a>
                               </li>
                           </ul>
                       </div>
                   </div>
                   <!-- Member Item End -->
               </div>

               <div class="col-md-3 col-xs-6 col-xxs-12">
                   <!-- Member Item Start -->
                   <div class="member--item online">
                       <div class="img img-circle">
                           <a href="member-activity-personal.html" class="btn-link">
                               <img src="{% static 'assets/img/members-img/member-11.jpg' %}" alt="">
                           </a>
                       </div>

                       <div class="name">
                           <h3 class="h6 fs--12">
                               <a href="member-activity-personal.html" class="btn-link">Denise K. Chambers</a>
                           </h3>
                       </div>

                       <div class="activity">
                           <p><i class="fa mr--8 fa-clock-o"></i>Active 5 monts ago</p>
                       </div>

                       <div class="actions">
                           <ul class="nav">
                               <li>
                                   <a href="#" title="Send Message" class="btn-link" data-toggle="tooltip" data-placement="bottom">
                                       <i class="fa fa-envelope-o"></i>
                                   </a>
                               </li>
                               <li>
                                   <a href="#" title="Add Friend" class="btn-link" data-toggle="tooltip" data-placement="bottom">
                                       <i class="fa fa-user-plus"></i>
                                   </a>
                               </li>
                               <li>
                                   <a href="#" title="Media" class="btn-link" data-toggle="tooltip" data-placement="bottom">
                                       <i class="fa fa-folder-o"></i>
                                   </a>
                               </li>
                           </ul>
                       </div>
                   </div>
                   <!-- Member Item End -->
               </div>

               <div class="col-md-3 col-xs-6 col-xxs-12">
                   <!-- Member Item Start -->
                   <div class="member--item online">
                       <div class="img img-circle">
                           <a href="member-activity-personal.html" class="btn-link">
                               <img src="{% static 'assets/img/members-img/member-12.jpg' %}" alt="">
                           </a>
                       </div>

                       <div class="name">
                           <h3 class="h6 fs--12">
                               <a href="member-activity-personal.html" class="btn-link">Brendan K. Heywood</a>
                           </h3>
                       </div>

                       <div class="activity">
                           <p><i class="fa mr--8 fa-clock-o"></i>Active 5 monts ago</p>
                       </div>

                       <div class="actions">
                           <ul class="nav">
                               <li>
                                   <a href="#" title="Send Message" class="btn-link" data-toggle="tooltip" data-placement="bottom">
                                       <i class="fa fa-envelope-o"></i>
                                   </a>
                               </li>
                               <li>
                                   <a href="#" title="Add Friend" class="btn-link" data-toggle="tooltip" data-placement="bottom">
                                       <i class="fa fa-user-plus"></i>
                                   </a>
                               </li>
                               <li>
                                   <a href="#" title="Media" class="btn-link" data-toggle="tooltip" data-placement="bottom">
                                       <i class="fa fa-folder-o"></i>
                                   </a>
                               </li>
                           </ul>
                       </div>
                   </div>
                   <!-- Member Item End -->
               </div>
           </div>
       </div>
       <!-- Member Items End -->

       <!-- Page Count Start -->
       <div class="page--count pt--30">
           <label class="ff--primary fs--14 fw--500 text-darker">
               <span>Viewing</span>

               <a href="#" class="btn-link"><i class="fa fa-caret-left"></i></a>
               <input type="number" name="page-count" value="01" class="form-control form-sm">
               <a href="#" class="btn-link"><i class="fa fa-caret-right"></i></a>

               <span>of 2,500</span>
           </label>
       </div>
       <!-- Page Count End -->
   </div>
</div>