<!-- templates/home/component/ads.html -->
{% load static %}

<div class="col-md-7 pb--60">
    <!-- Download Block Start -->
    <div class="download--block" data-scroll-reveal="group">
        <div class="img">
            <img src="{% static 'assets/img/download-img/mobile.png' %}" alt="">
        </div>

        <div class="info">
            <div class="title">
                <h2 class="h2 fw--600">Download Application &amp; Get More Features</h2>
            </div>

            <div class="content fs--12">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industtry's statndard dummy specimen book. Lorem Ipsum which looks reasonable. The generated Lorem Ipsum words etc.</p>
            </div>

            <div class="action text-uppercase">
                <a href="#" class="btn btn-sm btn-google"><i class="fa mr--8 fa-play"></i>Play Store</a>
                <a href="#" class="btn btn-sm btn-apple"><i class="fa mr--8 fa-apple"></i>App Store</a>
            </div>
        </div>
    </div>
    <!-- Download Block End -->
</div>