<!-- templates/home/component/footer_active_members.html -->
{% load static %}

<div class="footer--extra bg-darker pt--30 pb--40 text-center">
    <div class="container">
        <!-- Widget Start -->
        <div class="widget">
            <h2 class="h4 fw--700 widget--title">Recent Active Members</h2>

            <!-- Recent Active Members Widget Start -->
            <div class="recent-active-members--widget style--2">
                <div class="owl-carousel" data-owl-items="12" data-owl-nav="true" data-owl-speed="1200" data-owl-responsive='{"0": {"items": "3"}, "481": {"items": "6"}, "768": {"items": "8"}, "992": {"items": "12"}}'>
                    <div class="img">
                        <a href="member-activity-personal.html"><img src="{% static 'assets/img/widgets-img/recent-active-members/01.jpg' %}" alt=""></a>
                    </div>

                    <div class="img">
                        <a href="member-activity-personal.html"><img src="{% static 'assets/img/widgets-img/recent-active-members/02.jpg' %}" alt=""></a>
                    </div>

                    <div class="img">
                        <a href="member-activity-personal.html"><img src="{% static 'assets/img/widgets-img/recent-active-members/03.jpg' %}" alt=""></a>
                    </div>

                    <div class="img">
                        <a href="member-activity-personal.html"><img src="{% static 'assets/img/widgets-img/recent-active-members/04.jpg' %}" alt=""></a>
                    </div>

                    <div class="img">
                        <a href="member-activity-personal.html"><img src="{% static 'assets/img/widgets-img/recent-active-members/05.jpg' %}" alt=""></a>
                    </div>

                    <div class="img">
                        <a href="member-activity-personal.html"><img src="{% static 'assets/img/widgets-img/recent-active-members/06.jpg' %}" alt=""></a>
                    </div>

                    <div class="img">
                        <a href="member-activity-personal.html"><img src="{% static 'assets/img/widgets-img/recent-active-members/07.jpg' %}" alt=""></a>
                    </div>

                    <div class="img">
                        <a href="member-activity-personal.html"><img src="{% static 'assets/img/widgets-img/recent-active-members/08.jpg' %}" alt=""></a>
                    </div>

                    <div class="img">
                        <a href="member-activity-personal.html"><img src="{% static 'assets/img/widgets-img/recent-active-members/09.jpg' %}" alt=""></a>
                    </div>

                    <div class="img">
                        <a href="member-activity-personal.html"><img src="{% static 'assets/img/widgets-img/recent-active-members/10.jpg' %}" alt=""></a>
                    </div>

                    <div class="img">
                        <a href="member-activity-personal.html"><img src="{% static 'assets/img/widgets-img/recent-active-members/11.jpg' %}" alt=""></a>
                    </div>

                    <div class="img">
                        <a href="member-activity-personal.html"><img src="{% static 'assets/img/widgets-img/recent-active-members/12.jpg' %}" alt=""></a>
                    </div>

                    <div class="img">
                        <a href="member-activity-personal.html"><img src="{% static 'assets/img/widgets-img/recent-active-members/13.jpg' %}" alt=""></a>
                    </div>
                </div>
            </div>
            <!-- Recent Active Members Widget End -->
        </div>
        <!-- Widget End -->
    </div>
</div>