<!-- templates/home/component/most_popular_members.html -->
{% load static %}

<div class="col-md-7 pb--60">
   <div class="section--title pb--20">
       <div class="title">
           <h2 class="h2">Most Popular Members</h2>
       </div>
   </div>

   <!-- Member Slider Start -->
   <div class="member--slider owl-carousel" data-owl-items="4" data-owl-autoplay="false" data-bg-img="{% static 'assets/img/members-img/pattern-bg.png' %}" data-owl-nav="true" data-owl-center="true" data-owl-responsive='{"0": {"items": "1"}, "486": {"items": "3"}, "992": {"items": "4"}}'>
       <!-- Member Item Start -->
       <div class="member--item online">
           <div class="vc--parent">
               <div class="vc--child">
                   <div class="img img-circle">
                       <a href="member-activity-personal.html" class="btn-link">
                           <img src="{% static 'assets/img/members-img/member-01.jpg' %}" alt="">
                       </a>
                   </div>

                   <div class="name">
                       <h3 class="h6 fs--12">
                           <a href="member-activity-personal.html" class="btn-link">Rosa R. Secor</a>
                       </h3>
                   </div>

                   <div class="activity">
                       <p><i class="fa mr--8 fa-clock-o"></i>Active 5 monts ago</p>
                   </div>

                   <div class="actions">
                       <ul class="nav">
                           <li>
                               <a href="#" title="Send Message" class="btn-link" data-toggle="tooltip" data-placement="bottom">
                                   <i class="fa fa-envelope-o"></i>
                               </a>
                           </li>
                           <li>
                               <a href="#" title="Add Friend" class="btn-link" data-toggle="tooltip" data-placement="bottom">
                                   <i class="fa fa-user-plus"></i>
                               </a>
                           </li>
                           <li>
                               <a href="#" title="Media" class="btn-link" data-toggle="tooltip" data-placement="bottom">
                                   <i class="fa fa-folder-o"></i>
                               </a>
                           </li>
                       </ul>
                   </div>
               </div>
           </div>
       </div>
       <!-- Member Item End -->

       <!-- Member Item Start -->
       <div class="member--item">
           <div class="vc--parent">
               <div class="vc--child">
                   <div class="img img-circle">
                       <a href="member-activity-personal.html" class="btn-link">
                           <img src="{% static 'assets/img/members-img/member-02.jpg' %}" alt="">
                       </a>
                   </div>

                   <div class="name">
                       <h3 class="h6 fs--12">
                           <a href="member-activity-personal.html" class="btn-link">Juan Bishop</a>
                       </h3>
                   </div>

                   <div class="activity">
                       <p><i class="fa mr--8 fa-clock-o"></i>Active 5 monts ago</p>
                   </div>

                   <div class="actions">
                       <ul class="nav">
                           <li>
                               <a href="#" title="Send Message" class="btn-link" data-toggle="tooltip" data-placement="bottom">
                                   <i class="fa fa-envelope-o"></i>
                               </a>
                           </li>
                           <li>
                               <a href="#" title="Add Friend" class="btn-link" data-toggle="tooltip" data-placement="bottom">
                                   <i class="fa fa-user-plus"></i>
                               </a>
                           </li>
                           <li>
                               <a href="#" title="Media" class="btn-link" data-toggle="tooltip" data-placement="bottom">
                                   <i class="fa fa-folder-o"></i>
                               </a>
                           </li>
                       </ul>
                   </div>
               </div>
           </div>
       </div>
       <!-- Member Item End -->

       <!-- Member Item Start -->
       <div class="member--item online">
           <div class="vc--parent">
               <div class="vc--child">
                   <div class="img img-circle">
                       <a href="member-activity-personal.html" class="btn-link">
                           <img src="{% static 'assets/img/members-img/member-03.jpg' %}" alt="">
                       </a>
                   </div>

                   <div class="name">
                       <h3 class="h6 fs--12">
                           <a href="member-activity-personal.html" class="btn-link">Kelly Salazar</a>
                       </h3>
                   </div>

                   <div class="activity">
                       <p><i class="fa mr--8 fa-clock-o"></i>Active 5 monts ago</p>
                   </div>

                   <div class="actions">
                       <ul class="nav">
                           <li>
                               <a href="#" title="Send Message" class="btn-link" data-toggle="tooltip" data-placement="bottom">
                                   <i class="fa fa-envelope-o"></i>
                               </a>
                           </li>
                           <li>
                               <a href="#" title="Add Friend" class="btn-link" data-toggle="tooltip" data-placement="bottom">
                                   <i class="fa fa-user-plus"></i>
                               </a>
                           </li>
                           <li>
                               <a href="#" title="Media" class="btn-link" data-toggle="tooltip" data-placement="bottom">
                                   <i class="fa fa-folder-o"></i>
                               </a>
                           </li>
                       </ul>
                   </div>
               </div>
           </div>
       </div>
       <!-- Member Item End -->

       <!-- Member Item Start -->
       <div class="member--item online">
           <div class="vc--parent">
               <div class="vc--child">
                   <div class="img img-circle">
                       <a href="member-activity-personal.html" class="btn-link">
                           <img src="{% static 'assets/img/members-img/member-04.jpg' %}" alt="">
                       </a>
                   </div>

                   <div class="name">
                       <h3 class="h6 fs--12">
                           <a href="member-activity-personal.html" class="btn-link">Gregory L. Caudill</a>
                       </h3>
                   </div>

                   <div class="activity">
                       <p><i class="fa mr--8 fa-clock-o"></i>Active 5 monts ago</p>
                   </div>

                   <div class="actions">
                       <ul class="nav">
                           <li>
                               <a href="#" title="Send Message" class="btn-link" data-toggle="tooltip" data-placement="bottom">
                                   <i class="fa fa-envelope-o"></i>
                               </a>
                           </li>
                           <li>
                               <a href="#" title="Add Friend" class="btn-link" data-toggle="tooltip" data-placement="bottom">
                                   <i class="fa fa-user-plus"></i>
                               </a>
                           </li>
                           <li>
                               <a href="#" title="Media" class="btn-link" data-toggle="tooltip" data-placement="bottom">
                                   <i class="fa fa-folder-o"></i>
                               </a>
                           </li>
                       </ul>
                   </div>
               </div>
           </div>
       </div>
       <!-- Member Item End -->

       <!-- Member Item Start -->
       <div class="member--item">
           <div class="vc--parent">
               <div class="vc--child">
                   <div class="img img-circle">
                       <a href="member-activity-personal.html" class="btn-link">
                           <img src="{% static 'assets/img/members-img/member-05.jpg' %}" alt="">
                       </a>
                   </div>

                   <div class="name">
                       <h3 class="h6 fs--12">
                           <a href="member-activity-personal.html" class="btn-link">William P. Waite</a>
                       </h3>
                   </div>

                   <div class="activity">
                       <p><i class="fa mr--8 fa-clock-o"></i>Active 5 monts ago</p>
                   </div>

                   <div class="actions">
                       <ul class="nav">
                           <li>
                               <a href="#" title="Send Message" class="btn-link" data-toggle="tooltip" data-placement="bottom">
                                   <i class="fa fa-envelope-o"></i>
                               </a>
                           </li>
                           <li>
                               <a href="#" title="Add Friend" class="btn-link" data-toggle="tooltip" data-placement="bottom">
                                   <i class="fa fa-user-plus"></i>
                               </a>
                           </li>
                           <li>
                               <a href="#" title="Media" class="btn-link" data-toggle="tooltip" data-placement="bottom">
                                   <i class="fa fa-folder-o"></i>
                               </a>
                           </li>
                       </ul>
                   </div>
               </div>
           </div>
       </div>
       <!-- Member Item End -->
   </div>
   <!-- Member Slider End -->
</div>