<!-- templates/home/component/perwakilan-ri.html -->
{% load static %}

<div class="col-md-5 pb--60">
   <!-- Section Title Start -->
   <div class="section--title pb--20">
       <div class="title">
           <h2 class="h2">Perwakilan RI & Testimoni</h2>
       </div>
   </div>
   <!-- Section Title End -->

   <!-- Testimonial Items Start -->
   <div class="testimonial--items owl-carousel" data-owl-dots="true" data-owl-margin="10" data-owl-autoplay="false" data-owl-animate="fadeOut">
       <!-- Testimonial Item Start -->
       <div class="testimonial--item clearfix">
           <div class="img mr--20 float--left">
               <img src="/static/assets/img/perwakilan-ri/Garuda_Pancasila.svg.png" alt=""   width="50">
           </div>

           <div class="info">
               <blockquote class="fs--12">
                   <p>Klik di sini untuk hubungi Perwakilan RI terdeka!</p>
               </blockquote>

               <div class="name">
                   <h3 class="h6 fs--12">Perlindungan WNI</h3>
               </div>

               <div class="rating">
                   <ul class="nav">
                       <li><i class="fa fa-star"></i></li>
                       <li><i class="fa fa-star"></i></li>
                       <li><i class="fa fa-star"></i></li>
                       <li><i class="fa fa-star"></i></li>
                       <li><i class="fa fa-star-o"></i></li>
                   </ul>
               </div>
           </div>
       </div>
       <!-- Testimonial Item End -->

       <!-- Testimonial Item Start -->
       <div class="testimonial--item clearfix">
           <div class="img mr--20 float--left">
               <img src="/static/assets/img/perwakilan-ri/corona.jpg" alt="">
           </div>

           <div class="info">
               <blockquote class="fs--12">
                   <p>Kami bisa bersama lagi setelah memperolah bantuan dari Perwakilan RI.</p>
                   <p>Terima kasih atas dukuangan dan bantuannya..</p>
               </blockquote>

               <div class="name">
                   <h3 class="h6 fs--12">John Doe &amp; Nina Doe</h3>
               </div>

               <div class="rating">
                   <ul class="nav">
                       <li><i class="fa fa-star"></i></li>
                       <li><i class="fa fa-star"></i></li>
                       <li><i class="fa fa-star"></i></li>
                       <li><i class="fa fa-star"></i></li>
                       <li><i class="fa fa-star-o"></i></li>
                   </ul>
               </div>
           </div>
       </div>
       <!-- Testimonial Item End -->

       <!-- Testimonial Item Start -->
       <div class="testimonial--item clearfix">
           <div class="img mr--20 float--left">
               <img src="/static/assets/img/testimonial-img/wni.jpg" alt="">
           </div>

           <div class="info">
               <blockquote class="fs--12">
                   <p>Terima kasih, Pak Vitrionaldi (pejabat Konsuler KBRI Washington DC) yang terus memberikan perhatian dan bantuan ke kita sampai tiba di tanah air</p>
               </blockquote>

               <div class="name">
                   <h3 class="h6 fs--12">Awak Kapal</h3>
               </div>

               <div class="rating">
                   <ul class="nav">
                       <li><i class="fa fa-star"></i></li>
                       <li><i class="fa fa-star"></i></li>
                       <li><i class="fa fa-star"></i></li>
                       <li><i class="fa fa-star"></i></li>
                       <li><i class="fa fa-star-o"></i></li>
                   </ul>
               </div>
           </div>
       </div>
       <!-- Testimonial Item End -->
   </div>
   <!-- Testimonial Items End -->
</div>