<!-- templates/home/component/slider.html -->
{% load static %}

<div class="banner--slider owl-carousel" data-owl-dots="true" data-owl-dots-style="2">
    <!-- Banner Item Start -->
    {% for slider in sliders %}
    <div class="banner--item" data-bg-img="{{slider.image.url}}" data-overlay="0.75">
        <div class="vc--parent">
            <div class="vc--child">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <!-- Banner Content Start -->
                            <div class="banner--content pt--70 pb--80 text-center">
                                <div class="title">
                                    <h1 class="h1 text-lightgray">{{slider.title}}</h1>
                                </div>

                                <div class="sub-title">
                                    <h1 style="font-size: 40px;" class="h2 text-lightgray">{{slider.sub_title}}</h1>
                                </div><br>


                                <div class="sub-sub-title">
                                    <h1 style="font-size: 50px; color:red;" class="h2 text-lightgray">{{slider.sub_sub_title}}</h1>
                                </div>

                                <div class="desc text-gray fs--16">
                                    <p>{{slider.short_text}}</p>
                                </div>

                                <div class="action text-uppercase">
                                    <a href="#" class="btn btn-white">Learn More</a>
                                    <a href="#" class="btn btn-primary">See Members</a>
                                </div>
                            </div>
                            <!-- Banner Content End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- Banner Item End -->
</div>
    