<!-- templates/home/component/sweet_moment.html -->
{% load static %}

<div class="col-md-5 pb--60">
   <!-- Section Title Start -->
   <div class="section--title pb--20">
       <div class="title">
           <h2 class="h2">Show Some Sweet Love</h2>
       </div>
   </div>
   <!-- Section Title End -->

   <!-- Testimonial Items Start -->
   <div class="testimonial--items owl-carousel" data-owl-dots="true" data-owl-margin="10" data-owl-autoplay="false" data-owl-animate="fadeOut">
       <!-- Testimonial Item Start -->
       <div class="testimonial--item clearfix">
           <div class="img mr--20 float--left">
               <img src="{% static 'assets/img/testimonial-img/01.jpg' %}" alt="">
           </div>

           <div class="info">
               <blockquote class="fs--12">
                   <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the ever.</p>
               </blockquote>

               <div class="name">
                   <h3 class="h6 fs--12">Philip K. Rice &amp; Nina B. Bandy</h3>
               </div>

               <div class="rating">
                   <ul class="nav">
                       <li><i class="fa fa-star"></i></li>
                       <li><i class="fa fa-star"></i></li>
                       <li><i class="fa fa-star"></i></li>
                       <li><i class="fa fa-star"></i></li>
                       <li><i class="fa fa-star-o"></i></li>
                   </ul>
               </div>
           </div>
       </div>
       <!-- Testimonial Item End -->

       <!-- Testimonial Item Start -->
       <div class="testimonial--item clearfix">
           <div class="img mr--20 float--left">
               <img src="{% static 'assets/img/testimonial-img/02.jpg' %}" alt="">
           </div>

           <div class="info">
               <blockquote class="fs--12">
                   <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the ever.</p>
               </blockquote>

               <div class="name">
                   <h3 class="h6 fs--12">Philip K. Rice &amp; Nina B. Bandy</h3>
               </div>

               <div class="rating">
                   <ul class="nav">
                       <li><i class="fa fa-star"></i></li>
                       <li><i class="fa fa-star"></i></li>
                       <li><i class="fa fa-star"></i></li>
                       <li><i class="fa fa-star"></i></li>
                       <li><i class="fa fa-star-o"></i></li>
                   </ul>
               </div>
           </div>
       </div>
       <!-- Testimonial Item End -->

       <!-- Testimonial Item Start -->
       <div class="testimonial--item clearfix">
           <div class="img mr--20 float--left">
               <img src="{% static 'assets/img/testimonial-img/03.jpg' %}" alt="">
           </div>

           <div class="info">
               <blockquote class="fs--12">
                   <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the ever.</p>
               </blockquote>

               <div class="name">
                   <h3 class="h6 fs--12">Philip K. Rice &amp; Nina B. Bandy</h3>
               </div>

               <div class="rating">
                   <ul class="nav">
                       <li><i class="fa fa-star"></i></li>
                       <li><i class="fa fa-star"></i></li>
                       <li><i class="fa fa-star"></i></li>
                       <li><i class="fa fa-star"></i></li>
                       <li><i class="fa fa-star-o"></i></li>
                   </ul>
               </div>
           </div>
       </div>
       <!-- Testimonial Item End -->
   </div>
   <!-- Testimonial Items End -->
</div>